@import "tailwindcss";

@layer base {

  html,
  body,
  #root {
    min-height: 100%;
    width: 100%;
  }

  body {
    font-family: "Libre Caslon Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}